@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;100&family=Raleway&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
      circle,
      rgba(24, 33, 97, 1) 41%,
      rgba(17, 24, 56, 1) 89%
    )
    no-repeat;
  color: #fff;
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 60px 15px;
}

.header__logo {
  display: block;
  color: white;
  font-weight: 800;
  font-size: 30px;
}
.hup {
  background-image: linear-gradient(to right, #4a4886, #735db8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.header__list {
  display: flex;
  gap: 40px;
  font-size: 20px;
  padding-left: 0;
}

.header__link {
  position: relative;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: #9a7eff;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.btn1:hover::after {
  transform: scale(1, 1);
}

.btn1:hover {
  color: rgb(205, 205, 205);
}

.btn2 {
  position: relative;
  padding: 9px 23px;
  margin-right: 8px;
  border: 2px solid #9a7eff;
}

.btn2:hover {
  transition: 0.5s;
  color: rgb(205, 205, 205);
}
.header__link_gradient {
  background: rgb(140, 61, 38);
  background: linear-gradient(
    0deg,
    rgba(140, 61, 38, 1) 0%,
    rgba(201, 26, 57, 1) 70%,
    rgba(179, 42, 67, 1) 100%
  );
  border-radius: 10px;
  padding: 10px 20px;
}
.header__link {
  color: #fff;
}

.body__form {
  color: #4a4886;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

main.table {
  margin: 0 auto;
  width: 35%;
  height: 100%;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  background-color: #2a268e44;
  padding: 0.8rem 1rem;
}

form {
  max-width: 523px;
  margin: 4px auto;
  padding: 20px;
  outline: none;
}
/* Стилі для елементів форми */
label {
  display: block;
  margin-bottom: 13px;
  font-weight: bold;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

input[type="submit"] {
  background-color: rgb(16, 6, 56);
  color: #fff;
  padding: 14px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}

.card__btn {
  background-color: rgb(16, 6, 56);
  padding: 14px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}

.btn__a {
  color: #fff;
}

input[type="submit"]:hover,
.card__btn:hover {
  background-color: rgb(16, 6, 56, 0.5);
}
footer {
  margin-top: 229px;
  position: relative;
  background: rgb(16, 6, 56);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social__icon,
.menuu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-left: 0;
}

footer .social__icon li a {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  display: inline-block;
  transform: 0.1s;
}

footer .social__icon li a:hover {
  transform: translateY(-10px);
}

footer .menuu li a {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  display: inline-block;
  opacity: 0.75;
}

footer .menuu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../image/home/foot.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 2;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 1;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 2;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 1;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }

  h1 {
    font-size: 23px;
  }

  /* main.table {
    height: 78vh;
    width: 62vw;
  } */

  input[type="text"] {
    padding: 9px;
  }

  input[type="submit"],
  .card__btn {
    padding: 12px 14px;
  }
}

@media (max-width: 1130px) {
  .header,
  .container {
    max-width: 900px;
  }
  main.table {
    width: 50%;
  }
  .header__list {
    gap: 24px;
  }
}

@media (max-width: 776px) {
  .header,
  .container {
    max-width: 750px;
  }
  .header__logo {
    z-index: 4;
  }
  .header__burger {
    margin-right: 15px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .btn1::after {
    content: "";
    background: none;
  }
  .btn2 {
    border: none;
  }
  main.table {
    width: 53%;
  }
  .header__nav {
    /* position: fixed; 
	 background-color: #423030;
	 top: -100%;
	 z-index: 2;
	 left: 0;
	 width: 100%;
  
	 padding: 100px 10px 20px 10px;
	 transition: all 0.3s ease 0s;*/
    position: fixed;
    background-color: #0e132f;
    top: -100%;
    z-index: 3;
    left: 0;
    width: 100%;
    /* height: 100%; */
    padding: 100px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header__nav.active {
    top: 0;
    height: 100%;
  }

  /* main.table { 
    width: 70vw;
  }*/
  .header__list {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }

  footer .social__icon,
  .menuu p {
    font-size: 11px;
  }
}

@media (max-width: 680px) {
  .header,
  .container {
    max-width: 500px;
  }

  .add {
    margin: 6px 30px 0px 0px;
  }

  h1 {
    font-size: 18px;
  }

  .add img {
    width: 29px;
  }
}

@media (max-width: 600px) {
  /* main.table { 
    height: 73vh;
    width: 85vw;
  }*/

  input[type="text"] {
    padding: 6px;
  }
  main.table {
    width: 65%;
  }

  label {
    margin-bottom: 5px;
  }

  footer .menuu li a,
  footer p {
    font-size: 16px;
  }
}
